*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BODY */


body {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: #1B1A17;
}


/* HEADERS */


#header-index, 
#header-about,
#header-contact,
#header-gameinfo,
#header-registration,
#header-rules {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    min-height: 30vh;
    background-position: 100% 25%;
    background-size: cover;
    border-radius: 40px;
    border: 1px solid black;
}

#header-index {
    background-image: url(../assets/design2.png);
}

#header-about {
    background-image: url(../assets/Hockey3.png);
}

#header-contact {
    background-image: url(../assets/Hockey1.png);
}

#header-gameinfo {
    background-image: url(../assets/design1.png);
    background-position: 100% 30%;
}

#header-rules {
    background-image: url(../assets/Hockey2.png);
    background-position: 100% 10%;
}

#header-registration {
    background-image: url(../assets/hockey4.png);
    background-position: 100% 40%;
}

.title-header {
    font-family: 'Sansita Swashed', cursive;
    color: rgb(255, 238, 0);
    font-size: 50px;
    text-shadow: 2px 2px rgb(253, 101, 0);
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}


/* LOGO */


#logoandnav {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Logo {
    display: flex;
    height: 6rem;
    width: 6rem;
    border-radius: 30px;
} 


/* NAV */


nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

nav a {
    background-color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center; 
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 20px;
    filter: drop-shadow(1px 5px 3px #050505);
}

nav a:hover {
    background-color: #555;
}

.active {
    background-color: #04AA6D; 
    color: #fff;
}


/* H1 */


.sub-title {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: #E45826;
    font-size: 30px;
    text-shadow: 2px 2px rgb(255, 208, 0);
    padding: 2rem 0;
    text-decoration: underline dashed #E45826;
    animation: skew 3s infinite;
    animation-direction: alternate;
}

@keyframes skew {
    0% {
    transform: skewX(5deg);
    }
    100% {
    transform: skewX(-5deg);
    }
} 


/*  INDEX & ABOUT & CONTACT & RULES & TABLE(Game Info) & REGISTER */


#Events, #About, #Contact, #Rules, #Table, #Register {
    background-color: #E6D5B8;
    width: 80vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    border-style: groove;
    border-radius: 20px;
    padding: 2rem;
}

#Events p, #About p, #Contact p {
    text-align: center;
    font-size: 15px;
    padding: 1.5rem 0;
    font-style: italic;
    font-weight: bold;
}

#Contact a {
    text-decoration: none;
}

.events-date, .titles-about {
    text-align: center;
    color: #F0A500;
    font-size: 20px;
    text-shadow: 2px 2px rgb(27, 26, 23);
}


/* RULES */

#Rules h3 {
    text-align: center;
    font-weight: lighter;
    padding-bottom: 2rem;
}

#Rules dt {
    color: #F0A500;;
    font-size: 20px;
    text-shadow: 2px 2px rgb(27, 26, 23);
    font-weight: bolder;
    padding: 1.5rem 0;
}

#Rules span {
    font-weight: bolder;
    padding: 1.5rem 0;
}

#Rules li, ul{
    padding: 0.5rem 0;
    margin-left: 40px;
}

dd {
    margin-left: 40px;
}

ul {
    list-style-type: circle;
}


/* GAME INFO */


#Table h3 {
    padding-bottom: 1rem;
    font-style: italic;
}

#Table h4 {
    font-style: italic;
    padding-bottom: 2rem;
    text-decoration:underline;
    font-weight: lighter;
}

#Table p, .t_h {
    text-align: center;
}

#Table td, .tablehead {
    text-align: left;
}

.map {
    display: flex; justify-content: center
}

.tableinfo:hover { 
    background-color: rgba(240, 164, 0, 0.226);
}

.tablefoot {
    padding-top: 3rem;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    align-self: center;
    gap: 1rem;
}

.tablefoot span {
    font-weight: bold;
}

.pae {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self:stretch;
}

.tablefoot a {
    text-decoration: none;
}


/* REGISTRATION */


#FirstPart, #SecondPart, #ThirdPart, #FourthPart, #FifthPart {
    border: none;
}

.form-t {
    padding: 2rem 0 1rem 0;
    font-weight: bold;
}

#FirstPart span, #SecondPart span {font-weight: bold;}

.authorization {padding-bottom: 2rem;}


/* FOOTER */


footer {
    color: #E6D5B8;
    text-align: center;
    margin-top: auto;
    padding-top: 1rem;
}


/* FEEDBACK PAGE */


#FeedPage {    
    background-color: #E6D5B8;
    width: 80vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    border-style: groove;
    border-radius: 20px;
    padding: 2rem;
}

#header-data {
    background-image: url(../assets/dataimg.png);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    min-height: 30vh;
    background-position: 100% 25%;
    background-size: cover;
    border-radius: 40px;
    border: 1px solid black;
}